<div ng-if="vm.isSaved">
    <p>Имя: {{vm.account.name}}</p>
    <p>Email: {{vm.account.email}}</p>
    <p>Телефон: {{vm.account.phone}}</p>
    <div>
        <button class="btn btn-danger" ng-click="vm.reset()">Сбросить</button>
    </div>
</div>

<form name="vm.accountForm" novalidate ng-if="!vm.isSaved">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" data-ng-model="vm.account.name" type="text" required ng-minlength="3" name="accountName">
    </div>

    <div ng-messages="vm.accountForm.accountName.$error" ng-if="vm.accountForm.accountName.$dirty">
        <div ng-message="minlength" class="alert alert-danger" role="alert">Name is short</div>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.account.email" type="email"  required name="accountEmail">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountEmail.$error" ng-if="vm.accountForm.accountEmail.$dirty">
        <div ng-message="email" class="alert alert-danger">It`s not Email</div>
    </div>

    <div class="form-group">
        <label>Number</label>
        <input class="form-control" data-ng-model="vm.account.phone" type="text" data-ng-pattern="/^[\+]?(\d)+$/"
            name="accountPhone">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountPhone.$error" ng-if="vm.accountForm.accountPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">It`s not phone number</div>
    </div>

    <button type="submit" class="btn btn-primary" data-ng-click="vm.saveAccount(vm.account)" data-ng-disabled="vm.accountForm.$invalid">Добавить
    </button>

</form>